* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background: #fafafa;
}
a {
  text-decoration: none;
  color: black;
}

/* --------------------HEADER-------------------- */

.header-wrapper {
  width: 100%;
  height: 54px;
  top: 0;
  left: 0;
  position: fixed;
  border-bottom: 1px solid #dbdbdb;
  background: #ffffff;
  z-index: 2;
}

.header {
  width: 935px;
  height: 54px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19.25px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  width: 150px;
}

.logo-wrapper img {
  width: 103px;
  height: 29px;
}

.logo-separator {
  margin: 0 10px;
  width: 1px;
  height: 22px;
  background-color: #dbdbdb;
}

.search {
  width: 215px;
  height: 28px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  display: flex;
  font-size: 12px;
  text-align: center;
  outline: none;
}
.header input::placeholder {
  color: #979797;
}

.shortcuts a {
  margin-left: 12px;
  color: #262626;
}
.fix-header {
  display: flex;
  width: 150px;
  justify-content: space-between;
}
.fix-header1 {
  height: 1px;
  width: 1px;
}

/* --------------------BIG GUYS-------------------- */

.container {
  margin-top: 54px;

  width: 935px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  top: 88px;
  position: relative;
}
.main {
  width: 614px;
}

.main-blank {
  width: 321px;
  height: 100%;
  background: #fafafa;
}

/* --------------------STORIES-------------------- */

.stories-wrapper {
  background: #ffffff;
  height: 118px;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  align-items: center;
  position: relative;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding-left: 4px;
}
.arrow {
  position: absolute;
  z-index: 1;
  right: 8px;
  box-shadow: -1px 1px 3px rgb(37, 37, 37);
  border-radius: 50px;
  cursor: pointer;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #262626;
  width: 70px;
  margin: 0 7px;
}
.story-background {
  width: 66px;
  height: 66px;
  border-radius: 50px;
}
.story-image {
  transform: translate(-50%, 0);
  width: 56px;
  height: 56px;
  left: 50%;
  top: 5px;
  position: absolute;
}
.story p {
  overflow-x: hidden;
  width: calc(100% + 6px);
  text-overflow: ellipsis;
  text-align: center;
  margin-top: 3px;
}

/* --------------------POSTS-------------------- */

.post-wrapper {
  margin-top: 24px;
  margin-bottom: 60px;
  border: 1px solid #dbdbdb;
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
}
.post-wrapper video {
  background: #262626;
}
.post-header {
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-header ion-icon {
  cursor: pointer;
  margin-right: 18.5px;
}
.post-header-author {
  display: flex;
  align-items: center;
  padding-left: 17px;
}
.post-header-author-img {
  width: 32px;
  height: 32px;
  border-radius: 50px;
}
.post-header-author-name {
  top: 21px;
  left: 64px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #262626;
  margin-left: 15px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  margin-top: 14px;
  letter-spacing: -10px;
}
.post-footer-actions ion-icon {
  margin-left: 14px;
  cursor: pointer;
}
.bookmark {
  margin-right: 14px;
  cursor: pointer;
}
.post-likes {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  margin-top: 13px;
  padding-left: 14px;
}
.post-heart {
  font-size: 24px;
}
.post-likes img {
  width: 20px;
  height: 20px;
}
.post-likes a {
  font-weight: 600;
}
.post-likes p {
  margin-left: 5px;
}
.comments-header {
  padding-left: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 14px;
  color: #c7c7c7;
}
.comments-header a {
  color: #c7c7c7;
}
.comments {
  padding-left: 14px;
  font-size: 14px;
  line-height: 16px;
  padding-right: 14px;
}
.comment {
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
}
.comment ion-icon {
  cursor: pointer;
}
.comment-author {
  font-weight: 600;
}
.comment-time {
  font-size: 12px;
  margin-bottom: 7px;
}
.comment-time a {
  color: #c7c7c7;
}
.tags {
  font-weight: normal;
  color: #139ef2;
}
.add-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 14px;
  border-top: 1px solid #dbdbdb;
  height: 55px;
}
.add-comment-left {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
}
.add-comment-left ion-icon {
  cursor: pointer;
}
.add-comment-left input {
  border: 1px solid #ffffff;
  width: 480px;
  height: 54px;
  outline: none;
  font-size: 18px;
}
.add-comment-left input::placeholder {
  color: #979797;
}
.add-comment-right {
  cursor: pointer;
  color: #b2dffc;
  font-size: 14px;
}
.add-comment-right:hover {
  color: #0095f6;
  transition: 300ms;
}

/* --------------------SIDEBAR-------------------- */

.sidebar {
  background: #fafafa;
  width: 293px;
  height: 100%;
  position: fixed;
  left: calc(50% + 174.5px);
  top: 88px;
  padding-top: 23px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

/* -SIDEBAR-HEADER- */

.sidebar-header {
  display: flex;
  align-items: center;
}
.sidebar-header-writing {
  margin-left: 17px;
  line-height: 18px;
  color: #8e8e8e;
}
.sidebar-header-writing a {
  color: #262626;
}
.account {
  font-weight: 600;
}

/* -SIDEBAR-SUGGESTIONS- */

.suggestions-header {
  display: flex;
  margin-top: 24px;
  margin-bottom: 17px;
  justify-content: space-between;
}
.suggestions-header a {
  font-weight: 600;
  color: #262626;
}
.suggestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.suggestion p {
  font-size: 12px;
  line-height: 14px;
  color: #139ef2;
  cursor: pointer;
}
.suggestion-right {
  display: flex;
  align-items: center;
}

.suggestion-image {
  width: 32px;
  height: 32px;
}
.suggestion-right-writing {
  margin-left: 11px;
}
.suggestion-right-writing a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #262626;
}
.suggestion-right-writing p {
  font-size: 12px;
  line-height: 14px;
  color: #8e8e8e;
  margin-top: 6px;
  cursor: default;
}
/* -SIDEBAR-FOOTER- */

.sidebar-footer {
  font-size: 11px;
  line-height: 13px;
  margin-top: 33px;
  margin-bottom: 18px;
  color: #c7c7c7;
  width: 297px;
}
.sidebar-footer a {
  color: #c7c7c7;
}
.fixer {
  margin-top: 0px;
}
.mobile-footer {
  display: none;
}
.bottom-fixer {
  display: none;
}
/* --------------------935PX RESPONSIVE SCREEN-------------------- */

@media (max-width: 935px) {
  .sidebar {
    display: none;
  }
  .main-blank {
    display: none;
  }
  .main {
    margin: 0 auto;
  }
  .container {
    display: block;
    width: 100%;
  }
  .header {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .bottom-fixer {
    display: flex;
    width: 100%;
    height: 30px;
    background: #fafafa;
  }
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}

/* --------------------614PX RESPONSIVE SCREEN-------------------- */

@media (max-width: 614px) {
  .stories-wrapper {
    background: #fafafa;
    height: 121px;
    width: 100%;
    display: flex;
    overflow-x: hidden;
    align-items: center;
    padding-left: 11px;
    position: relative;
    border: none;
  }
  .post-wrapper {
    margin-top: 0;
  }
  .container {
    top: 54px;
  }
  .mobile-trash {
    display: none;
  }
  .shortcuts a {
    margin-left: 0px;
  }
  .mobile-footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 54px;
    bottom: 0px;
    right: 0px;
    background: #ffffff;
    border-top: 1px solid #dbdbdb;
    padding: 0 17px;
    font-size: 23px;
  }
  .logo-wrapper img {
    display: none;
  }
  .logo-separator {
    display: none;
  }
  .header {
    font-size: 25px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .arrow {
    display: none;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: unset;
  }
}
